$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// @include bp-up(sm) {}
@mixin bp-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Check for typos! Breakpoint: #{$breakpoint}.';
  }
}

// @include bp-down(sm) {}
@mixin bp-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Check for typos! Breakpoint:  #{$breakpoint}.';
  }
}

// @include bp-between(sm, md) {}
@mixin bp-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Check for typos! Breakpoint:  #{$lower}.';
    }
    @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Check for typos! Breakpoint:  #{$upper}.';
    }
  }
}
