/* Colors */

$primary: #35C6F4;
$secondary: #419183;
$dark-grey: #4d4d4f;
$default: #212529;
$light: #ffffff;
$light-bg: #eaf9fd;
$light-grey: #dce4e7;

/* Fonts */

$accent-font: 'Montserrat', 'sans-serif';
$default-font: 'Fira Sans', sans-serif;

/* Font weights */

$light-wg: 300;
$regular-wg: 400;
$medium-wg: 500;
$bold-wg: 600;

/* Font-sizes */

$large-ft: 24px;
$regular-ft: 18px;
$medium-ft: 16px;
$small-ft: 14px;

/* Paddings */

$p-sm: 10px;
$p-md: 20px;
$p-lg: 30px;
$p-xl: 40px;

/* Margins */

$m-sm: 10px;
$m-md: 25px;
$m-lg: 50px;
$m-xl: 100px;

/* Transitions */

$default-trs: all 0.3s ease-in-out;